.Home {
  color: orange;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-size: 30px;
  -webkit-text-stroke-width: .4px;
  -webkit-text-stroke-color: black;
  text-align: center;
}

.background-credit {
  margin: auto auto 0 0;
}

.Home > span {
  padding: 20px;
}

.hack {
  font-size: 60px;
  font-family: 'Indie Flower';
  -webkit-text-stroke-width: .4px;
  font-weight: 600;

}