.Home {
  color: orange;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-size: 30px;
  -webkit-text-stroke-width: .2px;
  -webkit-text-stroke-color: black;
}

.background-credit {
  margin: auto auto 0 0;
}

.Home > span {
  padding: 20px;
}