.Home {
  color: orange;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  padding: 20px;
  font-size: 30px;
  -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: black;
  text-align: center;
  position: relative;
}

.background-credit {
  position: absolute;
  font-size: 1.5rem;
  bottom: 1rem;
  left: 1rem;
}

.Home > span {
  padding: 20px;
}

.hack {
  font-size: 60px;
  font-family: 'Chiller';
  -webkit-text-stroke-width: 0.4px;
  font-weight: 600;
}
