body {
  margin: 0;
}

.App {
  width: 100vw;
  height: 100vh;
  background: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-Title {
  font-size: 64px;
  line-height: 64px;
  padding: 10px;
  color: orange;
}

.App-Navigation {
  padding: 10px;
  color: orange;
}